<div class="texts-wrapper">
<div class="contents-title text-center">

<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "") %>件のエラーがあります</h2>
      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>達成したいこと</th>
        <th>イメージ画像</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.text_field :name, placeholder: "達成したいことを入力してください", class: "form-control-sm" %></td>
        <td><%= form.file_field :picture, class: "form-control-file-sm" %></td>
      </tr>
    </tbody>
  </table>

  <%= form.fields_for :causes do |cause| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>できない理由</th>
          <th>画像</th>
          <th>動画</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= cause.text_field :content, placeholder: "未達成の理由を入力してください", class: "form-control-sm"%></td>
          <td><%= cause.file_field :picture, class: "form-control-file-sm" %></td>
          <td><%= cause.file_field :movie, :accept => 'movie/*', class: "form-control-file-sm" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <div class="links">
    <%= link_to_add_association 'できない理由を追加する', form, :causes, class: "btn btn-sm btn-outline-primary" %>  
  </div>

  <div class="actions">
    <%= form.submit "登録する", class: "btn btn-danger" %>
  </div>
<% end %>
