<h1>タスク編集画面</h1>

<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "") %>件のエラーがあります</h2>
      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>達成した</th>
        <th>達成したいこと</th>
        <th>イメージ画像</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.check_box :done, {}, "true", "false" %></td>
        <td><%= form.text_field :name, placeholder: "達成したいことを入力してください" %></td>
        <td><%= form.file_field :picture %></td>
      </tr>
    </tbody>
  </table>

<div class="actions">
  <%= form.submit "登録する" %>
</div>
<% end %>
<%= link_to "タスク一覧に戻る", tasks_path %>