<%= form_with(model: [@task, @cause], url: choose_new_or_edit, local: true) do |form| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "") %>件のエラーがあります</h2>

      <ul>
        <% @cause.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>解決したか？</th>
        <th>できない理由</th>
        <th>画像</th>
        <th>動画</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
      <td><%= form.check_box :done, {}, "true", "false" %></td>
      <td><%= form.text_field :content, placeholder: "できない理由を入力してください" %></td>
      <td><%= form.file_field :picture %></td>
      <td><%= form.file_field :movie, :accept => 'movie/*' %></td>
      <%= form.hidden_field :task_id, :value => @cause.task_id %>
      </tr>
    </tbody>
  </table>
  
  <%= form.fields_for :solutions do |s| %>
    <table>
      <thead>
        <tr>
          <th>解決策</th>
          <th>画像</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= s.text_field :content, placeholder: "解決策を入力してください" %></td>
          <td><%= s.file_field :picture %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <div class="actions">
    <%= form.submit "登録する" %>
  </div>
<% end %>
