<%= form_with(model: cause) do |form| %>
  <% if cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
        <% cause.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_area :picture %>
  </div>

  <div class="field">
    <%= form.label :movie %>
    <%= form.text_area :movie %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
