<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h1><%= @cause.task.name %></h1>
    <%= image_tag @cause.task.picture.url, width: '50%', height: '50%' unless @cause.task.picture.url == nil %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>進まない原因</th>
            <th style="width: 15%">画像</th>
            <th style="width: 15%">動画</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% if @first_cause %>
        <tbody>
          <tr>
            <td><%= @first_cause.content %></td>
            <td>
              <%= link_to @first_cause&.picture.url, "data-lightbox" => @first_cause&.picture.url do %>
                <%= image_tag @first_cause&.picture.url, width: '50%', height: '50%' if @first_cause&.picture.url %>
              <% end %>  
            </td>
            <td>
              <%= link_to @first_cause.movie_url.to_s, "data-lightbox" => @first_cause.movie_url.to_s do %>
                <%= video_tag(@first_cause.movie.to_s, width: '60%', height: '60%', autoplay: true, muted: true, loop: true) unless @first_cause&.movie&.url == nil %>
              <% end %> 
            </td>
            <td><%= link_to '詳細を見る', task_cause_path(@task, @first_cause), class: 'btn btn-outline-success' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <br>
    <%= link_to "タスク一覧に戻る", tasks_path, class: 'btn btn-primary' %>
  </div>
</div>