<h1><%= @cause.task.name %></h1>
<table>
  <thead>
    <tr>
      <th>解決済</th>
      <th>進まない原因</th>
      <th>画像</th>
      <th>動画</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if @first_cause %>
  <tbody>
    <tr>
      <td><%= check_box_tag '', '' %></td>
      <td><%= @first_cause.content %></td>
      <td><%= image_tag @first_cause&.picture.url unless @first_cause&.picture.url == nil %></td>
      <td>
        <%= link_to @first_cause.movie_url.to_s do %>
          <%= video_tag(@first_cause.movie.to_s, autoplay: true, muted: true, loop: true) unless @first_cause&.movie&.url == nil %>
        <% end %> 
      </td>
      <td><%= link_to '詳細を見る', task_cause_path(@task, @first_cause) %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<br>
<%= link_to "タスク一覧に戻る", tasks_path %>