<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @cause.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @cause.picture %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @cause.movie %>
</p>

<p>
  <strong>Done:</strong>
  <%= @cause.done %>
</p>

<p>
  <strong>Task:</strong>
  <%= @cause.task_id %>
</p>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>
