<!DOCTYPE html>
<html>
  <head>
    <title>あなたができない理由</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e7e7e7;">
      <a class="navbar-brand" href="/">あなたができない理由</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">  
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="nav-item text-dark"><%= link_to 'マイページ', user_path(current_user.id), class: 'btn btn-outline-info rounded-pill' %></a>
            </li>  
            <li class="nav-item active">
              <a class="nav-item text-dark"><%= link_to 'お気に入り一覧', favorites_path, class: 'btn btn-outline-info rounded-pill' %></a>
            </li>
            <li class="nav-item active">
              <% if current_user.try(:admin?) %>
                <a class="nav-item text-dark"><%= link_to '管理者画面へ', users_path, class: 'btn btn-outline-info rounded-pill' %></a>
              <% end %>
            </li>
              <li class="nav-item active">
              <a class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger rounded-pill' %></a>
              </li>
          <% else %>
            <li class="nav-item active">
              <a class="nav-item text-dark"><%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-outline-info rounded-pill' %></a>
            </li>  
            <li class="nav-item active">
              <a class="nav-item text-dark"><%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-info rounded-pill' %></a>
            </li>  
            <li class="nav-item active">
              <a class="nav-item text-dark"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-outline-info rounded-pill' %></a>
            </li>  
            <li class="nav-item active">
              <a class="nav-item text-dark"><%= link_to "ゲスト管理者ログイン", users_admin_guest_sign_in_path, method: :post, class: 'btn btn-outline-info rounded-pill' %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="footer-box">
      <p class="text-muted">©︎あなたができない理由</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
